/.env
config/nginx/sites-available/*.conf
config/portainer/password
config/traefik/password
config/traefik/acme.json
config/traefik/dynamic_conf/site-routers.conf
database/mysql/*
database/portainer/*
database/redis/*
log/nginx/*
log/traefik/*
www/*
!www/html
!.gitkeep