/.env
config/nginx/sites-available/*.conf
config/portainer/password
config/traefik/password
config/traefik/acme_staging.json
config/traefik/acme_production.json
config/traefik/dynamic_conf/site-routers.yaml
/database
/log
/www
!.gitkeep